.frame-98,
.frame-98 * {
    box-sizing: border-box;
}
.frame-98 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20%;
}
.text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 326px;
    position: relative;
    left: 25px;
    top: 13px;
}
.flecha{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20px;
    height: 20px;
    position: relative;
}
.labela{
    color: var(--additional-white, #111827);
    text-align: center;
    font: 700 16px/150% "Inter-Bold", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label {
    color: var(--color-grey-900,#bdd2ff);
    text-align: left;
    font: var(--heading-h-4, 700 24px/130% "Inter-Bold", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.label2 {
    color: var(--color-secondary-400, #97a9bd);
    text-align: left;
    font: var(--body-large-regular, 400 16px/150% "-", sans-serif);
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label-2-span {
    color: var(--color-secondary-400, #97a9bd);
    font: var(--body-large-regular, 400 16px/150% "Inter-Regular", sans-serif);
}
.label-2-span2 {
    color: var(--color-secondary-400, #97a9bd);
    font: var(--body-large-regular, 700 16px/150% "Inter-Bold", sans-serif);
}
.tab {
  border-style: solid;
  border-color: var(--color-grey-300, #d1d5db);
  border-width: 0px 0px 1px 0px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  width: 327px;
  position: absolute;
  left: calc(50% - 164px);
  top: 132px;
}
.item {
  border-style: solid;
  border-color: var(--color-primary-600, #bdd2ff);
  border-width: 0px 0px 1.5px 0px;
  padding: 16px 8px 16px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.label3 {
  color: var(--color-primary-600, #bdd2ff);
  text-align: left;
  font: var(--body-medium-bold, 700 14px/160% "Inter-Bold", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item2 {
  padding: 16px 8px 16px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.label4 {
  color: var(--color-grey-500, #717585);
  text-align: left;
  font: var(--body-medium-medium, 500 14px/160% "Inter-Medium", sans-serif);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textfields-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  width: 327px;
  position: relative;
  left: 10px;
  top: 70px;
}
.textfields {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color-grey-200, #eeeff2);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.vuesax-twotone-sms {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.vuesax-twotone-sms2 {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.vuesax-twotone-sms3 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.label5 {
  color: var(--color-grey-400, #9ca3af);
  text-align: left;
  font: 400 16px/150% "Inter-Regular", sans-serif;
  position: relative;
}
.textfields2 {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color-grey-200, #eeeff2);
  border-width: 1px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.frame-41 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.vuesax-twotone-lock {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.vuesax-twotone-lock2 {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.vuesax-twotone-lock3 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.vuesax-twotone-eye-slash {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.vuesax-twotone-eye-slash2 {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}
.vuesax-twotone-eye-slash3 {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.label6 {
  color: var(--color-primary-600, #bdd2ff);
  text-align: center;
  font: 700 16px/150% "Inter-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 182px);
  top: 364px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  background: #289acb;
  border-radius: 40px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 56px;
  position: absolute;
  left: calc(50% - 156px);
  top: 418px;
}
.label7 {
  color: var(--additional-white, #ffffff);
  text-align: center;
  font: 700 16px/150% "Inter-Bold", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-sign-in {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 309px;
  position: absolute;
  left: calc(50% - 155px);
  top: 533px;
}
.or {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.divider {
  border-style: solid;
  border-color: var(--color-grey-100, #f3f4f6);
  border-width: 1px 0 0 0;
  flex: 1;
  height: 0px;
  position: relative;
}
.label8 {
  color: var(--color-grey-400, #9ca3af);
  text-align: center;
  font: 500 14px/160% "Inter-Medium", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-social {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button2 {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color-grey-200, #eeeff2);
  border-width: 1px;
  padding: 16px;
  flex: 1;
  height: 56px;
  position: relative;
}
.foundation-social-apple {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 16px;
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  right: 15.62%;
  left: 15.62%;
  width: 68.77%;
  bottom: 10%;
  top: 10%;
  height: 80%;
  overflow: visible;
}
.label9 {
  color: var(--color-grey-900, #bdd2ff);
  text-align: center;
  font: 700 16px/150% "Inter-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 108.25px);
  top: calc(50% - 12px);
  width: 255px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button3 {
  border-radius: 12px;
  border-style: solid;
  border-color: var(--color-grey-100, #e8eaed);
  border-width: 1px;
  padding: 16px;
  flex: 1;
  height: 56px;
  position: relative;
}
.flat-color-icons-google {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 16px;
  top: 17px;
  overflow: visible;
}
.label10 {
  color: var(--color-grey-900, #bdd2ff);
  text-align: center;
  font: 700 16px/150% "Inter-Bold", sans-serif;
  position: absolute;
  left: calc(50% - 110.25px);
  top: calc(50% - 12px);
  width: 257px;
  display: flex;
  align-items: center;
  justify-content: center;
}
