.frame-100,
.frame-100 * {
    box-sizing: border-box;
}
.frame-100 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20%;
}
.content {
    position: absolute;
    inset: 0;
}
.flecha{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 20px;
    height: 20px;
}
.labela{
    color: var(--additional-white, #111827);
    text-align: center;
    font: 700 16px/150% "Inter-Bold", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 327px;
    position: absolute;
    left: 24px;
    top: 23px;
}
.label {
    color: var(--color-grey-900, #90b3ff);
    text-align: left;
    font: var(--heading-h-3, 700 28px/140% "Inter-Bold", sans-serif);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.label2 {
    color: var(--color-secondary-400, #97a9bd);
    text-align: left;
    font: var(--body-large-regular, 400 16px/150% "Inter-Regular", sans-serif);
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.content-sign-in {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    width: 327px;
    position: absolute;
    left: 46px;
    top: 166px;
}
.textfields-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.textfields {
    border-radius: 12px;
    border-style: solid;
    border-color: var(--color-grey-200, #eeeff2);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
}
.vuesax-twotone-user {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
}
.vuesax-twotone-user2 {
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}
.vuesax-twotone-user3 {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.label3 {
    color: var(--color-grey-400, #9ca3af);
    text-align: left;
    font: 400 16px/150% "Inter-Regular", sans-serif;
    position: relative;
}
.vuesax-twotone-sms {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
}
.vuesax-twotone-sms2 {
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}
.vuesax-twotone-sms3 {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.textfields2 {
    border-radius: 12px;
    border-style: solid;
    border-color: var(--color-grey-200, #eeeff2);
    border-width: 1px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
}
.frame-41 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.vuesax-twotone-lock {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
}
.vuesax-twotone-lock2 {
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}
.vuesax-twotone-lock3 {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.vuesax-twotone-eye-slash {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    position: relative;
}
.vuesax-twotone-eye-slash2 {
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}
.vuesax-twotone-eye-slash3 {
    height: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
}
.button {
    background: #289acb;
    border-radius: 40px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
}
.label4 {
    color: var(--additional-white, #ffffff);
    text-align: center;
    font: 700 16px/150% "Inter-Bold", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label5 {
    text-align: center;
    font: 400 16px/150% "-", sans-serif;
    position: absolute;
    left: calc(50% - 164px);
    top: 649px;
    width: 327px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.label-5-span {
    color: var(--color-grey-900, #bdd2ff);
    font: 400 16px/150% "Inter-Regular", sans-serif;
}
.label-5-span2 {
    color: var(--color-grey-900, #bdd2ff);
    font: 500 16px/150% "Inter-Medium", sans-serif;
}
.label-5-span3 {
    color: var(--color-primary-600, #578afa);
    font: 700 16px/150% "Inter-Bold", sans-serif;
}
