g<ion-content [fullscreen]="true">
  <div class="frame-100">
    <div class="content">
      <div class="text">
        <div class="label">Registrate en Vibe Rise</div>
        <div class="label2">
          Descubre nuestra aplicacion e indaga todas sus funciones que te ayudaran
          con tu estado emocional
        </div>
      </div>
      <div class="content-sign-in">
        <div class="textfields-group">
          <div class="textfields">
            <div class="vuesax-twotone-user">
              <div class="vuesax-twotone-user2">
                <div class="vuesax-twotone-user2">
                  <svg
                    class="vuesax-twotone-user3"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M10 10.0001C12.3012 10.0001 14.1667 8.1346 14.1667 5.83341C14.1667 3.53223 12.3012 1.66675 10 1.66675C7.69881 1.66675 5.83333 3.53223 5.83333 5.83341C5.83333 8.1346 7.69881 10.0001 10 10.0001Z"
                      stroke="#9CA3AF"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      opacity="0.4"
                      d="M17.1583 18.3333C17.1583 15.1083 13.95 12.5 10 12.5C6.05 12.5 2.84167 15.1083 2.84167 18.3333"
                      stroke="#9CA3AF"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="label3">Nombre</div>
          </div>
          <div class="textfields">
            <div class="vuesax-twotone-sms">
              <div class="vuesax-twotone-sms2">
                <div class="vuesax-twotone-sms2">
                  <svg
                    class="vuesax-twotone-sms3"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M14.1667 17.0834H5.83333C3.33333 17.0834 1.66667 15.8334 1.66667 12.9167V7.08341C1.66667 4.16675 3.33333 2.91675 5.83333 2.91675H14.1667C16.6667 2.91675 18.3333 4.16675 18.3333 7.08341V12.9167C18.3333 15.8334 16.6667 17.0834 14.1667 17.0834Z"
                      stroke="#9CA3AF"
                      stroke-width="1.5"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      opacity="0.4"
                      d="M14.1667 7.5L11.5583 9.58333C10.7 10.2667 9.29166 10.2667 8.43333 9.58333L5.83333 7.5"
                      stroke="#9CA3AF"
                      stroke-width="1.5"
                      stroke-miterlimit="10"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
            <div class="label3">Correo</div>
          </div>
          <div class="textfields2">
            <div class="frame-41">
              <div class="vuesax-twotone-lock">
                <div class="vuesax-twotone-lock2">
                  <div class="vuesax-twotone-lock2">
                    <svg
                      class="vuesax-twotone-lock3"
                      width="20"
                      height="20"
                      viewBox="0 0 20 20"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        opacity="0.4"
                        d="M5 8.33341V6.66675C5 3.90841 5.83333 1.66675 10 1.66675C14.1667 1.66675 15 3.90841 15 6.66675V8.33341"
                        stroke="#9CA3AF"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        opacity="0.4"
                        d="M10 15.4167C11.1506 15.4167 12.0833 14.4839 12.0833 13.3333C12.0833 12.1827 11.1506 11.25 10 11.25C8.84941 11.25 7.91667 12.1827 7.91667 13.3333C7.91667 14.4839 8.84941 15.4167 10 15.4167Z"
                        stroke="#9CA3AF"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M14.1667 18.3333H5.83333C2.5 18.3333 1.66667 17.4999 1.66667 14.1666V12.4999C1.66667 9.16659 2.5 8.33325 5.83333 8.33325H14.1667C17.5 8.33325 18.3333 9.16659 18.3333 12.4999V14.1666C18.3333 17.4999 17.5 18.3333 14.1667 18.3333Z"
                        stroke="#9CA3AF"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </div>
              </div>
              <div class="label3">Min. 8 caracters</div>
            </div>
            <div class="vuesax-twotone-eye-slash">
              <div class="vuesax-twotone-eye-slash2">
                <div class="vuesax-twotone-eye-slash2">
                  <svg
                    class="vuesax-twotone-eye-slash3"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.1083 7.8916L7.89166 12.1083C7.35 11.5666 7.01666 10.8249 7.01666 9.99993C7.01666 8.34993 8.35 7.0166 10 7.0166C10.825 7.0166 11.5667 7.34994 12.1083 7.8916Z"
                      stroke="#9CA3AF"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M14.85 4.8084C13.3917 3.7084 11.725 3.1084 10 3.1084C7.05834 3.1084 4.31667 4.84173 2.40834 7.84173C1.65834 9.01673 1.65834 10.9917 2.40834 12.1667C3.06667 13.2001 3.83334 14.0917 4.66667 14.8084"
                      stroke="#9CA3AF"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      opacity="0.4"
                      d="M7.01666 16.2751C7.96666 16.6751 8.975 16.8917 10 16.8917C12.9417 16.8917 15.6833 15.1584 17.5917 12.1584C18.3417 10.9834 18.3417 9.0084 17.5917 7.8334C17.3167 7.40006 17.0167 6.99173 16.7083 6.6084"
                      stroke="#9CA3AF"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      opacity="0.4"
                      d="M12.925 10.5833C12.7083 11.7583 11.75 12.7166 10.575 12.9333"
                      stroke="#9CA3AF"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M7.89167 12.1084L1.66667 18.3334"
                      stroke="#9CA3AF"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M18.3333 1.66675L12.1083 7.89175"
                      stroke="#9CA3AF"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="button">
          <div class="label4">Sign Up</div>
        </div>
      </div>
      <div class="label5">
        <span
          ><span class="label-5-span">Ya tienes una cuenta</span
          ><span class="label-5-span2"> </span
          ><span class="label-5-span3">Sign In</span></span
        >
      </div>
    </div>
  </div>
  
</ion-content>
