.frame-82,
.frame-82 * {
    box-sizing: border-box;
}
.getStarted {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20%;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 327px;
    position: relative;
}
.title {
    color: var(--color-grey-900, #e2ebff);
    text-align: center;
    font: var(--heading-h-4, 700 24px/130% "Inter-Bold", sans-serif);
    position: relative;
    align-self: stretch;
}
.subtitle {
    color: var(--color-secondary-400, #97a9bd);
    text-align: center;
    font: var(--body-medium-regular, 400 14px/160% "Inter-Regular", sans-serif);
    position: relative;
    align-self: stretch;
}
.frame-81 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}
.button {
    background: #289acb;
    border-radius: 40px;
    padding: 8px 16px 8px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 56px;
    position: relative;
}
.labela{
    color: var(--additional-white, #111827);
    text-align: center;
    font: 700 16px/150% "Inter-Bold", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70px;
}
.label {
    color: var(--additional-white, #ffffff);
    text-align: center;
    font: 700 16px/150% "Inter-Bold", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.or {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 327px;
    position: relative;
}
.rectangle-2 {
    background: var(--color-grey-200, #e5e7eb);
    border-radius: 50px;
    flex: 1;
    height: 1px;
    position: relative;
}
.inicia-con {
    color: var(--color-grey-500, #6b7280);
    text-align: center;
    font: var(--body-medium-regular, 400 14px/165% "Manrope-Regular", sans-serif);
    position: relative;
}
.rectangle-1 {
    background: var(--color-grey-200, #e5e7eb);
    border-radius: 50px;
    flex: 1;
    height: 1px;
    position: relative;
}
.socmed-opt {
    flex-shrink: 0;
    width: 215px;
    height: 48px;
    position: relative;
}
.google {
    background: var(--color-grey-50, #f9fafb);
    border-radius: 999px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 12px;
    top: 0px;
    overflow: hidden;
}
.flat-color-icons-google {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}
.apple {
    background: var(--color-grey-50, #f9fafb);
    border-radius: 999px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 84px;
    top: 0px;
    overflow: hidden;
}
.foundation-social-apple {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
}
.group {
    height: auto;
    position: absolute;
    right: 15.62%;
    left: 15.62%;
    width: 68.77%;
    bottom: 10%;
    top: 10%;
    height: 80%;
    overflow: visible;
}
.facebook {
    background: var(--color-grey-50, #f9fafb);
    border-radius: 999px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 156px;
    top: 0px;
    overflow: hidden;
}
.logos-facebook {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
}